@import url("https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display&display=swap");

/* Avoid the breaking within a section */
.blocks {break-inside: avoid;}

/* Make font black */
p, ul {color: black;}

/* Makes links blue*/
a{color: blue;}