@import url('https://fonts.googleapis.com/css?family=Dosis|Lato|Merriweather|Montserrat|Caveat+Brush|Open+Sans|Source+Sans+Pro&display=swap');
@import url('https://raw.githubusercontent.com/kctolli/scripting/main/yaml.css');

/*
Site Styles
*/

a {color: blue;}
ul {text-align: left;}

.info {font-size: 80%; font-style: italic; font-family: "Arial";}

body {background-color: white; color: black; font-family: "Helvetica";}
.dark-mode {background-color: black; color: white;}

hr{border-top: 1px solid black;}
.dark-mode hr {border-top: 1px solid white;}

.navbar{background-color: white;}
.dark-mode .navbar{background-color: black;}

.btn {
  background-color: white;
  border: none;
  color: blue;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Georgia";
}
.dark-mode .btn{background-color: black;}
.btn:hover {background-color: blue; color: white;}

.tocify{background-color: white; color: black; font-family: "Times";}



