a {color: blue;}
ul {text-align: left;}

.info {font-size: 80%; font-style: italic; font-family: "Georgia";}

body {background-color: white; color: black;}
.dark-mode {background-color: black; color: white;}

hr{border-top: 1px solid black;}
.dark-mode hr {border-top: 1px solid white;}

.navbar{background-color: white;}
.dark-mode .navbar{background-color: black;}

.btn {
  background-color: white;
  border: none;
  color: blue;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  border-radius: 4px;
  font-family: "Georgia";
}
.dark-mode .btn{background-color: black;}
.btn:hover {background-color: blue; color: white;}

.tocify{background-color: white; color: black;}

/*
iframe:focus {outline: none;}
iframe[seamless] {display: block;}
*/